@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}

section{clear:both}
main{margin:0 auto;width:960px;position:relative}

header{background:url('img/fon1.jpg') center top no-repeat;color:white;font-weight:bold;height:814px;}
header main{text-align:right;}
header h1{font-size:65px;background-color:#2d2d2d;float:right;padding:0 20px;margin:155px 10px 0 10px;z-index:9999;position:relative;}
header h2{font-weight:normal;font-size:65px;background-color:#2d2d2d;padding:0 20px;float:right;margin:-10px 10px 25px 10px;position:relative;}
header p{clear:both;float:right;background-color:#2d2d2d;font-size:35px;margin:0 10px;padding: 0 10px;}
header p.left{text-align:left;margin-top:-100px;padding:10px 10px;}
header p span{color:#fbd63a}
header form{display:inline-block;clear:both;float:right;margin-top:30px;}
header input{display:block;width:300px;height:10px;padding:15px;color:#9fa4b0;font:16px 'Segoe UI';margin-bottom:5px;outline:none;border:none;margin-bottom:15px;}
header button{width:170px;height:40px;color:white;font:12px 'Segoe UI';text-transform:uppercase;background:#2d2d2d;border:none;outline:none;cursor:pointer;}

#facts{background-color:#2d2d2d;}
#facts main{text-align:center;}
#facts h2{font-size:37px;font-family:"ElektraLightPro","Trebuchet MS";color:white;text-transform:uppercase;padding-top:50px;}
#facts ul{list-style:none;padding-top:100px;}
#facts li{display:inline-block;width:190px;padding:100px 45px 60px 45px;color:white;font:15px "Trebuchet MS";}
#facts li.f1{background:url('img/o1.png') center top no-repeat;}
#facts li.f2{width:280px;background:url('img/o2.png') center top no-repeat;}
#facts li.f3{background:url('img/o3.png') center top no-repeat;}
#facts li.f4{background:url('img/o4.png') center top no-repeat;}
#facts li.f5{width:280px;background:url('img/o5.png') center top no-repeat;}
#facts li.f6{background:url('img/o6.png') center top no-repeat;}

#days{}

#why{}
#why{height:814px;background:url(img/fon1.jpg) no-repeat center;}
#why h2{font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#why div{background:url(img/podlojka.png) no-repeat center;weight:866px; height:507px}
#why div ol{font:bold italic 17px "Trebuchet MS";color:#2d2d2d;width:370px;position:relative;display:inline-block;margin-top:45px;list-style:none;padding-left:100px}
#why div ol.why_left{text-align:right;}
#why div ol.why_right{text-align:left;vertical-align:center;margin-left:-30px}
#why div ol li{padding-top:45px}
#why div ol.why_right li {padding-top:60px;}

#r1{}
#r2{}
.request{background-color:#f6662f;color:white;padding:60px 0;}
.request main{text-align:center;}
.request h2{font:62px 'KelsonSans RegularRu','Trebuchet MS';text-transform:uppercase;}
.request p{font:29px/29px 'KelsonSans RegularRu','Trebuchet MS';text-transform:uppercase;margin:30px 0;}
.request form{}
.request input{display:inline-block;width:282px;height:25px;padding:5px;color:#9fa4b0;font:16px 'Segoe UI';margin-bottom:5px;outline:none;border:none;margin-bottom:15px}
.request button{display:block;position:relative;margin:5px auto;width:270px;height:50px;color:black;font:bold 20px 'Segoe UI';text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
.request button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}

#t1{background:url(img/fon3.jpg)no-repeat center;height:859px;}
#t1 h2{position:absolute;top:-10px;left:223px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#t1 div{float:right;width:410px;height:734px;background:white;margin-top:60px}
#t1 div ol{list-style:none;padding:115px 0px 105px 30px;font:bold 18px "Trebuchet MS"}
#t1 div ol li{padding:14px 0}
#t1 div h3{font:26px "Trebuchet MS";background:#f8bb24;display:inline-block;padding:5px 10px;margin-left:30px;margin-bottom:5px;}
#t1 div p{font:16px "Trebuchet MS";padding:10px 0 10px 30px}
#t1 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}

#t2{background:url(img/fon4.jpg)no-repeat center;height:859px;}
#t2 h2{position:absolute;top:-10px;left:185px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#t2 div{float:left;width:410px;height:734px;background:white;margin-top:60px}
#t2 div ol{list-style:none;padding:110px 0px 97px 30px;font:bold 18px "Trebuchet MS"}
#t2 div ol li{padding:12px 0}
#t2 div h3{font:26px "Trebuchet MS";background:#f8bb24;display:inline-block;padding:5px 10px;margin-left:30px;margin-bottom:5px;}
#t2 div p{font:16px "Trebuchet MS";padding:10px 0 9px 30px}
#t2 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}


#t3{background:url(img/fon5.jpg)no-repeat center;height:859px;}
#t3 h2{position:absolute;top:-10px;left:180px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#t3 div{float:right;width:410px;height:734px;background:white;margin-top:60px}
#t3 div ol{list-style:none;padding:110px 0px 95px 30px;font:bold 18px "Trebuchet MS"}
#t3 div ol li{padding:13px 0}
#t3 div h3{font:26px "Trebuchet MS";background:#f8bb24;display:inline-block;padding:5px 10px;margin-left:30px;margin-bottom:5px;}
#t3 div p{font:16px "Trebuchet MS";padding:10px 0 10px 30px}
#t3 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}

#how{background:linear-gradient(to top left, #f8f3c5, #bbefe9);}
#how img{position:absolute;left:230px;top:245px;}
#how img.horisontal{position:absolute;left:180px;top:245px;}
#how img.horisontal2{position:absolute;left:180px;top:525px;}
#how img.vertical{position:absolute;left:846px;top:365px;}
#how h2{font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:50px 0 0 180px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#how ol{list-style:none;font:16px "Georgia";color:#492403;text-align:center;padding-bottom:45px;}
#how ol li{width:181px;position:relative;display:inline-block;padding-top:225px;vertical-align:center;margin-left:10px}
.how1{background:url(img/w6.png)no-repeat center;margin-right:180px}
.how2{background:url(img/w5.png)no-repeat center;margin-right:180px}
.how3{background:url(img/w4.png)no-repeat center}
.how4{background:url(img/w3.png)no-repeat center;margin-right:180px}
.how5{background:url(img/w2.png)no-repeat center;margin-right:180px}
.how6{background:url(img/w1.png)no-repeat center}


#reviews{}

#questions{}

footer{}

#splash{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none}
#splash main{text-align:center;top:150px}
#splash p{color:white;text-align:center}
#splash form{margin:0 auto 0;position:static}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}