@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}

section{clear:both}
main{margin:0 auto;width:960px;position:relative}

header{background:url('img/fon1.jpg') center top no-repeat;color:white;font-weight:bold;height:814px;}
header main{text-align:right;}
header h1{font-size:65px;background-color:#2d2d2d;float:right;padding:0 20px;margin:155px 10px 0 10px;z-index:9999;position:relative;}
header h2{font-weight:normal;font-size:65px;background-color:#2d2d2d;padding:0 20px;float:right;margin:-10px 10px 25px 10px;position:relative;}
header p{clear:both;float:right;background-color:#2d2d2d;font-size:35px;margin:0 10px;padding: 0 10px;}
header p.left{text-align:left;margin-top:-100px;padding:10px 10px;}
header p span{color:#fbd63a}
header form{display:inline-block;clear:both;float:right;margin-top:30px;}
header input{display:block;width:300px;height:10px;padding:15px;color:#9fa4b0;font:16px 'Trebuchet MS';margin-bottom:5px;outline:none;border:none;margin-bottom:15px;}
header button{width:170px;height:40px;color:white;font:12px "Trebuchet MS";text-transform:uppercase;background:#2d2d2d;border:none;outline:none;cursor:pointer;}

#facts{background-color:#2d2d2d;}
#facts main{text-align:center;}
#facts h2{font:37px "Elektra Light Pro","Trebuchet MS";color:white;text-transform:uppercase;padding:50px 0;}
#facts ul{list-style:none;}
#facts li{display:inline-block;width:190px;padding:100px 45px 60px 45px;color:white;font:15px "Trebuchet MS";}
#facts li.f1{background:url('img/o1.png') center top no-repeat;}
#facts li.f2{width:280px;background:url('img/o2.png') center top no-repeat;}
#facts li.f3{background:url('img/o3.png') center top no-repeat;}
#facts li.f4{background:url('img/o4.png') center top no-repeat;}
#facts li.f5{width:280px;background:url('img/o5.png') center top no-repeat;}
#facts li.f6{background:url('img/o6.png') center top no-repeat;}

#days{text-align:center;background:#fffcf0 url(img/text.jpg) center top no-repeat}
#days main{padding-top:50px;background:url(img/heart.jpg) center bottom no-repeat}
#days h2{font:37px "Elektra Light Pro","Trebuchet MS";text-transform:uppercase;color:#2d2d2d;margin-bottom:80px}
#days iframe{}
#days blockquote{padding-top:55px;font-size:24px;padding-bottom:80px}
#days blockquote div{font-family:"Georgia";font-style:italic;color:#000;padding-bottom:20px}
#days blockquote p{font-family:"Trebuchet MS";font-weight:bold;color:#2d2d2d}

#why{}
#why{height:814px;background:url(img/fon1.jpg) no-repeat center;}
#why h2{font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#why div{background:url(img/podlojka.png) no-repeat center;weight:866px; height:507px}
#why div ol{font:bold italic 17px "Trebuchet MS";color:#2d2d2d;width:382px;position:relative;display:inline-block;margin-top:45px;list-style:none;padding-left:100px}
#why div ol.why_left{text-align:right;}
#why div ol.why_right{text-align:left;vertical-align:center;margin-left:-65px}
#why div ol li{padding-top:48px}
#why div ol.why_right li {padding-top:60px;}

#r1{}
#r2{}
.request{background-color:#f6662f;color:white;padding:60px 0;}
.request main{text-align:center;}
.request h2{font:62px 'Kelson Sans Ru','Trebuchet MS';text-transform:uppercase;}
.request p{font:29px/29px 'Kelson Sans Ru','Trebuchet MS';text-transform:uppercase;margin:30px 0;}
.request form{}
.request input{display:inline-block;width:282px;height:25px;padding:5px;color:#9fa4b0;font:16px "Trebuchet MS";outline:none;border:none;margin:0 15px 25px 15px}
.request button{display:block;position:relative;margin:5px auto;width:270px;height:50px;color:black;font:bold 20px "Trebuchet MS";text-transform:uppercase;background:#f4d31e;border-radius:5px;box-shadow:0 5px #d0b303;border:none;outline:none;cursor:pointer;}
.request button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}

#t1{background:url(img/fon3.jpg)no-repeat center;height:859px;}
#t1 h2{position:absolute;top:-10px;left:223px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#t1 div{float:right;width:410px;height:734px;background:white;margin-top:60px}
#t1 div ol{list-style:none;padding:115px 0px 105px 30px;font:bold 18px "Trebuchet MS"}
#t1 div ol li{padding:14px 0}
#t1 div h3{font:26px "Trebuchet MS";background:#f8bb24;display:inline-block;padding:5px 10px;margin-left:30px;margin-bottom:5px;}
#t1 div p{font:16px "Trebuchet MS";padding:10px 0 10px 30px}
#t1 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}

#t2{background:url(img/fon4.jpg)no-repeat center;height:859px;}
#t2 h2{position:absolute;top:-10px;left:185px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#t2 div{float:left;width:410px;height:734px;background:white;margin-top:60px}
#t2 div ol{list-style:none;padding:110px 0px 97px 30px;font:bold 18px "Trebuchet MS"}
#t2 div ol li{padding:12px 0}
#t2 div h3{font:26px "Trebuchet MS";background:#f8bb24;display:inline-block;padding:5px 10px;margin-left:30px;margin-bottom:5px;}
#t2 div p{font:16px "Trebuchet MS";padding:10px 0 9px 30px}
#t2 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}


#t3{background:url(img/fon5.jpg)no-repeat center;height:859px;}
#t3 h2{position:absolute;top:-10px;left:180px;font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#t3 div{float:right;width:410px;height:734px;background:white;margin-top:60px}
#t3 div ol{list-style:none;padding:110px 0px 95px 30px;font:bold 18px "Trebuchet MS"}
#t3 div ol li{padding:13px 0}
#t3 div h3{font:26px "Trebuchet MS";background:#f8bb24;display:inline-block;padding:5px 10px;margin-left:30px;margin-bottom:5px;}
#t3 div p{font:16px "Trebuchet MS";padding:10px 0 10px 30px}
#t3 div button{margin-left:30px;margin-top:5px;width:190px;height:50px;background:#2d2d2d;text-transform:uppercase;color:white;font:15px "Trebuchet MS";border:none;cursor:pointer;}

#how{background:linear-gradient(to top left, #f8f3c5, #bbefe9);}
#how img{position:absolute;left:230px;top:245px;}
#how img.horisontal{position:absolute;left:180px;top:245px;}
#how img.horisontal2{position:absolute;left:180px;top:525px;}
#how img.vertical{position:absolute;left:846px;top:365px;}
#how h2{font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:50px 0 0 180px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#how ol{list-style:none;font:16px "Georgia";color:#492403;text-align:center;padding-bottom:45px;}
#how ol li{width:190px;position:relative;display:inline-block;padding-top:225px;vertical-align:center;margin-left:10px}
.how1{background:url(img/w6.png)no-repeat center;margin-right:170px}
.how2{background:url(img/w5.png)no-repeat center;margin-right:170px}
.how3{background:url(img/w4.png)no-repeat center}
.how4{background:url(img/w3.png)no-repeat center;margin-right:170px}
.how5{background:url(img/w2.png)no-repeat center;margin-right:170px}
.how6{background:url(img/w1.png)no-repeat center}


#reviews{background:url(img/fon6.jpg) center top no-repeat}
#reviews h2{font:37px "Trebuchet MS";text-align:center;text-transform:uppercase;color:#2d2d2d;padding-top:80px;padding-bottom:43px}
#reviews h2 p{font-size:56px}
#reviews #requests{padding:0 28px}
#reviews #requests iframe{padding-bottom:8px}
#reviews h2.black{font:bold 40px "Trebuchet MS";text-transform:uppercase;color:#ffffff;padding:1px;margin:52px 0 40px}
#reviews h2.black span{background:#2d2d2d;padding:0 10px}
#sertificates{padding-bottom:25px;text-align:center}
#sertificates figure{width:216px;padding:0 10px;display:inline-block;cursor:pointer}
#sertificates figure figcaption{background:#f8bb24;height:35px;text-transform:uppercase;text-align:center;font:14px "Elektra Light Pro",Tahoma,'Kelson Sans Ru',"Georgia";margin-bottom:6px}

#questions{}
#questions h2{text-align:left;font:37px "Trebuchet MS";text-transform:uppercase;color:#2d2d2d;padding-top:50px}

#questions form{padding-bottom:70px}
#questions form input{display:inline-block;width:200px;height:28px;padding:5px;color:#9fa4b0;font:16px "Trebuchet MS";outline:none;border:1px solid #ccc;margin:0 15px 25px 0}
#questions form button{display:inline-block;position:relative;width:160px;height:36px;color:black;cursor:pointer;font:bold 16px "Trebuchet MS";text-transform:uppercase;background:#f4d31e;border-radius:3px;box-shadow:0 3px #d0b303;border:none;outline:none;cursor:pointer}
#questions form button:active{box-shadow:none;margin-top:10px;margin-bottom:0;}

footer{color:white;background:url('img/fon7.jpg') center top no-repeat;height:330px}
footer main{text-align:center;}
footer h2, footer p, footer h4{font:normal 16px "Trebuchet MS";}
footer h3{font-size:28px;}
footer h2{padding-top:120px;}
footer h3{padding-top:35px;}
footer h4{padding-top:27px;}
footer span{color:#fdd81e}

#splash,#bigIMG{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.7);color:white;text-shadow:0 0 1px #666;display:none}
#splash section{background-color:#f6662f;color:white;position:absolute;left:0;right:0;top:25%}
#splash main{text-align:center}
#splash p{color:white;text-align:center}
#splash form{margin:0 auto 0}
#bigIMG{background:rgba(0,0,0,.8) center center no-repeat;background-size:contain}
#bigIMG #close{position:absolute;top:0;right:0;bottom:0;background:rgba(0,0,0,.3);color:white;cursor:pointer;text-align:right;padding:4% 3%}
#bigIMG #close:hover{background:rgba(0,0,0,.5);}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}