@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}

section{clear:both}
main{margin:0 auto;width:960px;position:relative}

header{background:url('img/fon1.jpg') center top no-repeat;color:white;font-weight:bold;height:814px;}
header main{text-align:right;}
header h1{font-size:65px;background-color:#2d2d2d;float:right;padding:0 20px;margin:155px 10px 0 10px;z-index:9999;position:relative;}
header h2{font-weight:normal;font-size:65px;background-color:#2d2d2d;padding:0 20px;float:right;margin:-10px 10px 25px 10px;position:relative;}
header p{clear:both;float:right;background-color:#2d2d2d;font-size:35px;margin:0 10px;padding: 0 10px;}
header p.left{text-align:left;margin-top:-100px;padding:10px 10px;}
header p span{color:#fbd63a}
header form{display:inline-block;clear:both;float:right;margin-top:30px;}
header input{display:block;width:300px;height:10px;padding:15px;color:#9fa4b0;font:16px 'Segoe UI';margin-bottom:5px;outline:none;border:none;margin-bottom:15px;}
header button{width:170px;height:40px;color:white;font:12px 'Segoe UI';text-transform:uppercase;background:#2d2d2d;border:none;outline:none;cursor:pointer;}

#facts{}

#days{}

#why{}
#why{height:814px;background:url(img/fon1.jpg) no-repeat center;}
#why h2{font:bold 40px "Trebuchet MS";text-transform:uppercase;margin:95px 35px 70px 50px;color:#ffffff;background:#2d2d2d;display:inline-block;text-align:center;padding:5px 5px} 
#why div{background:url(img/podlojka.png) no-repeat center;weight:866px; height:507px}
#why div ol{font:bold italic 17px "Trebuchet MS";color:#2d2d2d;width:370px;position:relative;display:inline-block;margin-top:45px;list-style:none;padding-left:100px}
#why div ol.why_left{text-align:right;}
#why div ol.why_right{text-align:left;vertical-align:center;margin-left:-30px}
#why div ol li{padding-top:45px}
#why div ol.why_right li {padding-top:60px;}



#r1{}

#t1{}

#t2{}

#t3{}

#r2{}

#how{}

#reviews{}

#questions{}

footer{}

#splash{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none}
#splash main{text-align:center;top:150px}
#splash p{color:white;text-align:center}
#splash form{margin:0 auto 0;position:static}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}